@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: var(--background-color);
  color: var(--text-primary);
}

.container {
  width: 90%;
  max-width: var(--container-width);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}