.curriculum{
    padding:100px 8%;
    background:white;
}

.curriculum-container{
    max-width:1300px;
    margin:auto;
    text-align:center;
}

.section-tag{
    display:inline-block;
    background:#F97316;
    color:white;
    padding:10px 24px;
    border-radius:30px;
    font-weight:600;
    margin-bottom:25px;
}

.curriculum h2{
    font-size:48px;
    color:#111827;
    margin-bottom:20px;
}

.curriculum p{
    max-width:760px;
    margin:0 auto 60px;
    color:#6B7280;
    font-size:20px;
    line-height:1.8;
}

.curriculum-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.module-card{
    background:#F8FAFC;
    border-radius:18px;
    padding:30px;
    text-align:left;
    transition:.3s;
    border-left:5px solid #1E3A8A;
}

.module-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.module-number{
    width:55px;
    height:55px;
    border-radius:50%;
    background:#1E3A8A;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    margin-bottom:20px;
}

.module-card h3{
    font-size:22px;
    color:#111827;
}